@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.component-a {
  margin: 2rem 0;
  width: 100%;
}

.search {
  width: 25rem;
  text-align: center;
  padding: 2rem;
}

input:focus {
  outline-color: var(--peachy);
  /* border: 1px solid var(--peachy); */
}

.search .header {
  font-family: 'Lobster', cursive;
  font-size: 3rem;
  position: relative;
  z-index: 2;
  color: #333;
  margin-top: 2rem;
}

.search .header::after {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  height: 80%;
  width: 100%;
  background-color: var(--peachy-solid);
  transform: skew(-15deg, -15deg) rotate(9deg);
  z-index: -1;
}
.search .header::before {
  content: '';
  position: absolute;
  top: 0.5rem;
  left: -0.5rem;
  height: 70%;
  width: 100%;
  background-color: var(--light-peachy-solid);
  transform: skew(15deg, 15deg) rotate(-7deg);
  z-index: -2;
}

.search input {
  margin: 3rem 0 2rem 0;
  width: 18rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.error-message {
  padding: 2rem;
}

@media screen and (max-width: 500px) {
  .search {
    width: 100%;
    padding: 0;
  }
  .search input {
    width: 80%;
  }
}
