.cocktail-list {
  text-align: center;
  background-color: var(--light-peachy-solid);
  width: 100%;
  border-radius: 5px;
}

.cocktail-list .header {
  background-color: var(--light-peachy);
}
.cocktail-list table {
  width: 100%;
}
